<div class="reviewed_book">
  <div class="float_container float_clear">
    <h3 class="book_title">Book Title: Lorem ipsum dolor sit amet</h3>
    <div class="book_visual float_left">
      <%= image_tag("01_readablecode.jpg", size: "100x150") %>
    </div>
    <div class="user_review">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
      enim
      ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
      reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
      sunt
      in culpa qui officia deserunt mollit anim id est laborum.
    </div>
  </div>
  <div class="review_link">
    <ul>
      <li><%= link_to('レビューの全文を見る', root_path) %></li>
    </ul>
  </div>
</div>
