<div class="container">
  <div class="content catch_copy">
    <p>ここにbackground-imageを設定してイメージを伝える<p>
  </div>
  <div class="content abstract">
    <p>ここにコンテンツの摘要を載せる<p>
  </div>
  <div class="content detail">
    <p>ここにrender partial: reviewsを入れる<p>
  </div>
</div>
