body, html {
  height: 100%;
  background-color: white;
}

h1, h2, h3, h4, h5, h6, p, body {
  font-size: 18px;
  color: #4a4a4a;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #2E2F30;
  height: 80px;
}

.container {
  min-width: 960px;
}

.contents {
  background-color: #57C3E9;
  width: 960px;
  height: 700px;
  margin: 0 auto;
}

footer {
  background-color: #2E2F30;
  height: 80px;
}

