body, html {
  height: 100%;
  background-color: white;
}

h1, h2, h3, h4, h5, h6, p, body {
  line-height: 1.77;
  font-size: 18px;
  color: #4a4a4a;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 45px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 33px;
}

h4 {
  font-size: 27px;
}

.contents {
  width: 940px;
  margin: 0 auto;
}

.left_content {
  width: 700px;
  float: left;
}

.right_content {
  width: 140px;
  float: right;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

#mainHeader {
  text-align: center;
  padding: 140px 0;
  background-image: url("../images/bg_header.png");
}

#mainHeader p {
  margin: 30px 0 0 0;
  color: white;
  font-family: serif;
}

.contents .left_content hr {
  width: 300px;
  border: 0;
  border-top: 1px solid #ca493c;
}

.contents .left_content article {
  border-bottom: 1px solid #bebebe;
  padding-bottom: 40px;
}

.contents .left_content .separate li {
  padding: 0 10px;
  margin: 2px;
  float: left;
  list-style: none;
  font-size: 14px;
  color: #a0a0a0;
  border-right: 1px solid #a0a0a0;
}

.contents .left_content li.separate_last_child {
  border-right: none;
}

.contents .left_content header {
  margin-bottom: 40px;
  border-bottom: 1px solid #a0a0a0;
}


.bold {
  font-weight: bold;
}

.underline {
  border-bottom: solid 1px black;
}

.contents .pagenation {
  padding: 10px 0;
  font-size: 12px;
}

.contents .pagenation li {
  border: 1px solid #e3e3e3;
  list-style: none;
}

.contents .pagenation li a {
  display: block;
  padding: 5px 10px;
  font-size: 16px;
  color: #ca493c;
}

.contents .pagenation li a:hover {
  background-color: #f7f7f6;
}

.contents .pagenation li.prev {
  float: left;
}

.contents .pagenation li.next {
  float: right;
}
