<div class="user_review_container">
  <div class="content">
    <p>ユーザーレビューの仮実装です。</p>
    <p>タイトル: <%= @user_review.book.title %></p>
    <p>評価(1-10): <%= @user_review.book_evaluation %></p>
    <p>レビュー内容: <%= @user_review.review_text %></p>
  </div>
</div>
