.inquiry_container {
  padding: 5px;
  margin-left: 200px;
  width: 1280px;
  border: 1px solid;
  border-radius: 8px;
  text-align: center;

  .submit_button {
    width: 40%;
  }
}

.annotation {
  font-size: medium;
}

.inquiry_header {
  p {
    font-size: small;
  }
}

.inquiry_information {
  padding: 15px;
}

.user_information {
}

.user_inquiry_post {
}

.inquiry_text_field {
  width: 90%;
  height: 50px;
}

.inquiry_text_area {
  width: 90%;
  height: 250px;
}

input, textarea {
  outline: none;
  border: 1px solid #ffc700;
  border-radius: 4px;
  margin: 5px;
}

input:focus, textarea:focus {
  box-shadow: 0 0 8px #ffa700;
  border: 1px solid #ffa700;
}

button.submit_button {
  /* 文字のサイズを指定 */
  font-size: medium;
  /* 文字の太さをboldに指定 */
  font-weight: bold;

  /* 縦方向に10px、
   * 横方向に30pxの余白を指定 */
  padding: 10px 30px;

  /* 文字色を白色に指定 */
  color: #fff;

  /* ボーダーをなくす */
  border-style: none;

  /* ボタンの影の指定
   * 影の横幅を2px
   * 縦長を2px
   * ぼかしを3px
   * 広がりを1px
   * 色を#666（グレー）に指定 */
  box-shadow: 2px 2px 3px 1px #666;
  -moz-box-shadow: 2px 2px 3px 1px #666;
  -webkit-box-shadow: 2px 2px 3px 1px #666;

  /* テキストの影の指定
   * 影の横幅を1px
   * 縦長を1px
   * ぼかしを2px
   * 色を#000（黒）に指定 */
  text-shadow: 1px 1px 2px #000;

  /* 背景色を濃い青色に指定 */
  background-color: #48c;

  /* 角丸の指定 */
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

button.submit_button:hover {
  /* 透明度を10%に指定 */
  opacity: 0.90;
}
